<ion-view style="" class=" " id="page19" title="New Group">
    <ion-content class="has-header" ng-controller="groupCreateCtrl">
	  
	  <label class="item item-input">
		<input type="text" ng-model="groupme" placeholder="Group Name">
	  </label>
	  
	  <label class="item item-input">
		Participants
	  </label>
	  
	    <ion-list  ng-repeat="item in grouplist">
			<ion-checkbox  ng-model="item.checked" ng-change="checkedOrNot(item.id, item.checked, $index)">{{item.name}}</ion-checkbox>
		</ion-list>
		
		<button ng-if="grouplist.length" ng-click="done(groupme)" class="button button-block button-balanced">
		  Done
		</button>
	</ion-content>
</ion-view>


