<ion-view hide-back-button="true" hide-nav-bar="true">
  <ion-content class="padding">
    <!--<div class="list text-center padding">
      <img class="logo" src="img/logo_crud.png">
    </div>-->
    <div class="list card product-list" ng-repeat="product in products">
      <div class="item item-body" ng-click="edit(product.id)">
        <div class="product-logo">
          <img ng-src="{{product.imageUrl}}">
        </div>
        <div class="product-title">
          <h2 class="line-height-160">{{product.name}} <span>{{product.price}}</span></h2>
        </div>
        <div class="product-delete">
          <button class="button" ng-click="$event.stopPropagation(); delete(product.id)"><i class="ion-close-circled assertive"></i></button>
        </div>
        <div class="product-description">
          <p>
            {{product.description}}
          </p>
        </div>
        <div class="product-info">
          <button class="button button-positive button-block" ng-click="$event.stopPropagation(); info(product.url)">More Info</button>
        </div>
      </div>
    </div>
    <div class="button-bar">
      <button class="button button-block button-positive" ng-click="add()">Add Product</button>
      <button class="button button-block button-assertive" ng-click="logout()">Logout</button>
    </div>
  </ion-content>
    
</ion-view>
