<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  
  <!--
  <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
  <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
  <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">-->
  
  
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
 
  <script src="js/utils.js"></script>
  <script src="js/watchers.js"></script>
  <script src="js/service.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
	 var config = {
    apiKey: "AIzaSyAFheIveJy3cMK-0WUSEb_Z9D8GKi6Tk40",
    authDomain: "foodcart-2dbdc.firebaseapp.com",
    databaseURL: "https://foodcart-2dbdc.firebaseio.com",
    storageBucket: "foodcart-2dbdc.appspot.com",
  };
  firebase.initializeApp(config);
 
  </script>
  
  
  
  
  <!-- Login -->
  <script src="views/login/login.js"></script>
  <!-- Register -->
  <script src="views/register/register.js"></script>
  <!-- Forgot -->
  <script src="views/forgotPassword/forgotPassword.js"></script>
  <!-- Complete Account -->
  <script src="views/completeAccount/completeAccount.js"></script>
  <!-- Messages -->
  <script src="views/messages/messages.js"></script>
  <!-- Message -->
  <script src="views/message/message.js"></script>
  <!-- Groups -->
  <script src="views/groups/groups.js"></script>
  <!-- Group -->
  <script src="views/group/group.js"></script>
  <!-- GroupDetails -->
  <script src="views/groupDetails/groupDetails.js"></script>
  <!-- Friends -->
  <script src="views/friends/friends.js"></script>
  <!-- Profile -->
  <script src="views/profile/profile.js"></script>
  <!-- ngStorage -->
  
  <script src="views/addPage/addPage.js"></script>
  
  <script src="views/home/home.js"></script>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <!-- ngCordovaOAuth -->
  <script src="js/ng-cordova-oauth.min.js"></script>
  <script src="js/sha1.js"></script>
  <!--<script src="lib/FCMPlugin.js"></script>-->
  
  <script>
  angular.module('App').controller('main', function($scope, $state, $window, $location, $localStorage, $ionicSideMenuDelegate, Popup, Utils, $filter, Watchers, $timeout, $ionicPlatform, Service, $window, $stateParams, $ionicTabsDelegate, $ionicHistory) {
  /*
	$scope.myclick=function()
	{
		alert("45");
	}*/
  $scope.changeTab = function(stateTo) {
	alert(stateTo);
	
	   $ionicHistory.nextViewOptions({
      disableAnimate: true
    });
    $scope.mode = 'Groups';
    //If user uploaded a picture but didn't proceed with the group creation, delete the image.
    if($scope.group && !$scope.groupCreated) {
      if ($scope.group.image != 'img/group.png') {
        firebase.storage().refFromURL($scope.group.image).delete();
      }
    }
    //Clear assignedIds, assignedIds filters the friends to be shown on filter when they are already assigned on a group.
    Service.clearAssignedIds();
    $scope.canChangeView = true;
    $state.go(stateTo);
  };
	
	/*$ionicHistory.nextViewOptions({
      disableAnimate: true
    });
	$scope.canChangeView = false;
	//$window.location.href= "/#/"+stateTo;
	$location.path('http://localhost:8100/#/messages/#/groups');
    
    $state.go(stateTo);
  };
  */
  
  
  
  
  });
  
  
  
  </script>
  
  
</head>

<body ng-app="App">
  
  <ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
	  <ion-nav-buttons side="left">
      </ion-nav-buttons>
	</ion-nav-bar>
	
    <ion-nav-view></ion-nav-view>
	
  </ion-side-menu-content>
  
  
  <ion-side-menu side="left" ng-controller="main" >
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="changeTab('messages')"  >
          Messages
        </ion-item>
        <ion-item menu-close ng-click="changeTab('groups')" >
          Groups
        </ion-item>
        <ion-item menu-close ng-click="changeTab('friends')" >
          People
        </ion-item>
		<ion-item menu-close ng-click="myclick()" >
          Test
        </ion-item>
		<ion-item menu-close href="#/groups" >
		  Profile
        </ion-item>
		
      </ion-list>
    </ion-content>
  </ion-side-menu>
  </ion-side-menus>
  
</body>

</html>
