<ion-footer-bar style="margin-left: -5px !important;">
  <ion-tabs class="tabs-icon-only tabs-stable tabs-color-active-positive">
    <ion-tab icon-off="ion-chatbox" badge="unreadMessages" badge-style="badge-assertive" icon-on="ion-chatbox" ng-click="changeMemu('messages')">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-chatboxes" badge="unreadGroupMessages" badge-style="badge-assertive" icon-on="ion-chatboxes" ng-click="changeMemu('groups')">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-ios-people" badge="friendRequestsCount" badge-style="badge-assertive" icon-on="ion-ios-people" ng-click="changeMemu('friends')">
      <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-off="ion-gear-b" icon-on="ion-gear-b" ng-click="changeMemu('profile')">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
	<!--<ion-tab icon-off="ion-plus" icon-on="ion-plus" ng-click="changeTab('addPage')">
      <ion-nav-view name="tab-addPage"></ion-nav-view>
    </ion-tab>
	<ion-tab icon-off="ion-cube" icon-on="ion-cube" ng-click="changeTab('home')">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>-->
	<ion-tab icon-off="ion-clipboard" icon-on="ion-clipboard" ng-click="changeMemu('attendance')">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
	<ion-tab icon-off="ion-ios-list" icon-on="ion-ios-list" ng-click="changeMemu('task')">
      <ion-nav-view name="task"></ion-nav-view>
    </ion-tab>
	
	<ion-tab icon-off="ion-ios-close" icon-on="ion-ios-close" ng-click="exit()">
      <ion-nav-view ></ion-nav-view>
    </ion-tab>
	
  
  </ion-tabs>
  
</ion-footer-bar>
