<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
	  <ion-nav-buttons side="left">
      </ion-nav-buttons>
	</ion-nav-bar>
	
    <ion-nav-view >
	
		<ion-footer-bar style="margin-left: -5px !important;">
		  <ion-tabs class="tabs-icon-only tabs-stable tabs-color-active-positive">
			<ion-tab icon-off="ion-chatbox" badge="unreadMessages" badge-style="badge-assertive" icon-on="ion-chatbox" ng-click="changeTab('messages')">
			  <ion-nav-view name="tab-chats"></ion-nav-view>
			</ion-tab>
			<ion-tab icon-off="ion-chatboxes" badge="unreadGroupMessages" badge-style="badge-assertive" icon-on="ion-chatboxes" ng-click="changeTab('groups')">
			  <ion-nav-view name="tab-dash"></ion-nav-view>
			</ion-tab>
			<ion-tab icon-off="ion-ios-people" badge="friendRequestsCount" badge-style="badge-assertive" icon-on="ion-ios-people" ng-click="changeTab('friends')">
			  <ion-nav-view name="tab-favorites"></ion-nav-view>
			</ion-tab>
			<ion-tab icon-off="ion-gear-b" icon-on="ion-gear-b" ng-click="changeTab('profile')">
			  <ion-nav-view name="tab-account"></ion-nav-view>
			</ion-tab>
			
		  </ion-tabs>
		</ion-footer-bar>

	</ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="changeTab('messages', 0)">
          Messages
        </ion-item>
        <ion-item menu-close ng-click="changeTab('groups', 1)">
          Groups
        </ion-item>
        <ion-item menu-close ng-click="changeTab('friends', 2)">
          People
        </ion-item>
		<ion-item menu-close ng-click="logout()" >
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
