<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false" cache-view="false">
  <ion-header-bar align-title="center" class="bar-positive" ng-click="scrollTop()">
    <button class="button button-clear" ng-click="back()">Back</button>
    <h1 class="title">{{groupName}}</h1>
    <button class="button button-clear" ng-click="details()"><i class="icon ion-gear-b"></i></button>
  </ion-header-bar>
  <ion-content ng-click="scrollBottom()" class="has-footer">
    <ol class="messages padding-top10">
      <li class="{{message.class}} margin-left10 margin-right10" ng-repeat="message in messages">
        <div class="avatar">
		
        <img ng-src="{{message.profilePic}}">
        </div>
		
        <div class="msg" ng-if="message.type == 'text'">
          <span class="button-clear button-positive">{{message.senderName}}  </span>
		  <p>{{message.message}}</p>
          <time>
            <i class="icon ion-clock"></i> {{message.time}}
          </time>
        </div>
        <div class="msg" ng-if="message.type == 'image'">
          <img ng-src='{{message.image}}' imageonload="scrollBottom()" alt='' ng-click="enlargeImage(message.image)"/>
          <time>
            <i class="icon ion-clock"></i> {{message.time}}
          </time>
        </div>
      </li>
    </ol>
  </ion-content>
  <form ng-submit="sendTextMessage()">
  <ion-footer-bar keyboard-attach class="item-input-inset bar-light" ng-click="scrollBottom()">
    <a class="button-icon icon ion-camera positive" ng-click="sendPictureMessage()"></a>
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" ng-model="message" />
    </label>
    <!--<a class="button button-icon icon ion-android-send positive" ng-click="sendTextMessage()"></a>-->
	<button type="submit" class="button button-clear icon ion-android-send positive">
	</button>
	
  </ion-footer-bar>
  </form>
</ion-view>
