.logo {
  width: 100%;
  height: auto;
  margin-top: 25px;
}
.item-input {
  margin-bottom: 10px;
  border-radius: 5px;
}
.button {
  border-radius: 5px;
}
.button-no-margin-top {
  margin-top: 0px !important;
}
.spinner svg {
  width: 56px;
  height: 56px;
  stroke: #fff;
  fill: #fff;
}
.message-confirm .popup {
  width: 225px !important;
  height: auto !important;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px !important;
  font-size: 120%;
  line-height: 160%;
  text-align: center;
}
.message-confirm .popup-head {
  border: 0px !important;
}
.message-confirm .popup-title {
  color: #fff;
  font-size: 200%;
  margin-bottom: -20px;
}
.message-confirm .button-confirm {
  color: #fff;
  background: none;
  border: 0px;
}
.message-popup {
  width: 225px;
  height: auto;
  border-radius: 50px !important;
}
.message-popup p {
  line-height: 160%;
  font-size: 110%;
}
.loading {
  border-radius: 10px !important;
}
.profilePic {
  width: 150px;
  height: auto;
  border-radius: 150px;
  margin-top: 75px;
}
.bold {
  font-weight: bolder;
}
.line-height-160 {
  line-height: 160%;
}
h4 a {
  text-decoration: none;
}
.description::-webkit-input-placeholder {
  padding-left: 2px;
}
.description::-moz-input-placeholder {
  padding-left: 2px;
}
.description:-moz-input-placeholder {
  padding-left: 2px;
}
.description:-ms-input-placeholder {
  padding-left: 2px;
}
.product-list {
  border-radius: 10px;
}
.product-list .item-body {
  padding: 0px !important;
}
.product-logo {
  float: left !important;
  display: inline-block !important;
  width: 35%;
  padding: 10px;
  margin-top: 20px;
}
.product-logo img {
  width: 100%;
}
.product-delete {
  float: left !important;
  display: inline-block !important;
  width: 10%;
  margin-left: -10px;
}
.product-delete button {
  margin: auto;
  background: none;
  border: none;
  font-size: 175%;
}
.product-delete button:hover {
  background: none;
  border: none;
}
.product-title {
  float: left !important;
  display: inline-block !important;
  width: 55%;
  padding-left: 5px !important;
  padding-right: 10px !important;
}
.product-title h2 {
  font-size: 110%;
  font-weight: bold;
}
.product-title h2 span {
  color: #fff;
  background: #808080;
  border-radius: 5px;
  padding: 3px;
}
.product-description {
  float: right !important;
  display: inline-block !important;
  width: 65%;
  margin-top: -10px;
  padding-left: 5px !important;
  padding-right: 10px !important;
  min-height: 110px;
  line-height: 160%;
  margin-bottom: 10px;
}
.product-description p {
  font-size: 100%;
  text-align: left;
}
.product-info {
  float: left !important;
  display: inline-block !important;
  width: 35%;
  margin-bottom: 10px;
  margin-top: -10px;
}
.product-info button {
  width: 80%;
  margin: auto;
}
